# Dependencies
node_modules/
package-lock.json
yarn.lock

# Compiled CSS
static/css/style.css
static/css/style.css.map

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Cache
.sass-cache/
*.scssc

# Hugo
public/
resources/
