@use "../abstracts" as *;

// ==========================================
// BREADCRUMBS
// ==========================================

.breadcrumb {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $spacing-md;
  width: 100%;

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  font-size: 0.9rem;

  & li::after {
    content: ">";
    margin-left: 0.5em;
  }

  & li:last-child::after {
    content: "";
    margin: 0;
  }

  & li a {
    text-decoration: none;
    color: #007BFF;
  }

  & li[aria-current="page"] {
    font-weight: bold;
    color: #333;
  }
}
