@use "sass:color";
@use "../abstracts" as *;

// ==========================================
// BADGE
// ==========================================


.badge {
    display: inline-block;
    padding: 4px 10px;
    background: $color-primary;
    color: white;
    border-radius: $border-radius-full;
    font-size: 0.75rem;
    font-weight: 600;
    
    &--secondary {
        background: $color-bg-secondary;
        color: $color-text;
    }
    
    &--success {
        background: $color-success;
        color: white;
    }
    
    &--error {
        background: $color-error;
        color: white;
    }
}