// components/_forms.scss
// Form input and search styles

.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "input button";
  gap: $spacing-xs;
}

.search-input,
.newsletter-input {
  padding: $spacing-xs $spacing-sm;
  border: 1px solid $color-border;
  border-radius: $border-radius-md;
  font-size: $font-size-sm;
  font-family: $font-family-base;
  
  &:focus {
    outline: 2px solid $color-primary;
    outline-offset: 2px;
  }
}

.search-input {
  grid-area: input;
}

.newsletter-form {
  display: grid;
  grid-template-areas:
    "input"
    "button";
  gap: $spacing-sm;
}

.newsletter-input {
  grid-area: input;
}
